body, h1 {
	font-family: "Raleway", sans-serif
}

body, html {
	height: 100%
}

.bgimg {
	min-height: 100%;
	background-position: center;
	background-size: cover;
	background-image: url('../images/forestbridge.jpg');
}

.table {
	margin-top: 50px;
}